<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         verbose="true"
         colors="true">
    
    <testsuites>
        <testsuite name="Customer Module Tests">
            <directory>tests/Unit</directory>
            <directory>tests/Feature</directory>
        </testsuite>
        
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        
        <testsuite name="Feature Tests">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
        </include>
        <exclude>
            <directory>app/views</directory>
            <directory>app/config</directory>
        </exclude>
    </coverage>
    
    <php>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
